@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
.custom-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title {
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    /* letter-spacing: 0.1rem; */
    margin: 20px auto;
}
.section-subtitle {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}
.section-text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 auto;
}

/* Home-01 */
#home1 {
    background-color: #112d32;
}
#home1 .home1 {
    flex-direction: column;
}
#home1 .section-subtitle {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transform: translateY(150px);
}
#home1 .scroll-down-icon {
    position: absolute;
    transform: translateY(250px) scale(0.5);
}
/* End-of-home-01 */

/* Home-02 */
#home2 {
    background-color: #88bdbc;
    /* For-line-grid */
    /* background-size: 50px 50px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px); */
    /* For-dot-grid */
    /*
    background-size: 50px 50px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
    */
}
#home2 .home2 {
    flex-direction: column;
}
#home2 .back-animations {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#home2 .back-animations img {
    position: absolute;
}
#home2 .section-title {
    color: #112d32;
}
/* End-of-home-02 */